<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @beneficiary.title %>
</p>

<%= link_to 'Edit', edit_beneficiary_path(@beneficiary) %> |
<%= link_to 'Back', beneficiaries_path %>
