<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @payement_method.title %>
</p>

<%= link_to 'Edit', edit_payement_method_path(@payement_method) %> |
<%= link_to 'Back', payement_methods_path %>
